*{
    margin: 0;
    padding: 0;
}
.allpage{
    width: 970px;
    height: 1030px;
    margin: 0 auto;
}
.blue{
    background-color: #245076;
    width: 970px;
    height: 600px;
}
header{
    margin-top: 100px;
    display: flex;
    justify-content: space-between ;
    width: 970px;
    margin: 0 auto;
}
.search{
    height: 30px;
}
span{
    text-decoration: underline;
color: greenyellow;}
.gray{
    border-radius: 15px;
    width: 50px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: gray;
    height: 50px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header img{
    height: 120px;
    margin: 10px;
}
nav{
    background-color: #467ead;
    height: 60px;
    width: 900px;
    margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 1px;
    border-radius: 13px;
    box-shadow: black 8px 8px 8px ;
}
a {
    color: white;
    font-size: 20px;
    margin: 0px auto;
}
.websections{
    display: flex;
}
.toplist{
    text-align: center;
    margin-left: 120px;
    margin-top: 50px;
}
ul li{
    text-decoration: underline;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
article.upside{
    height:60px ;
    width: 507.8px;
    margin-top: 50px;
    margin-right: 50px;
}
p{
color: white;
margin-top: 10px;
font-size: 17px;
display: flex;
text-align: center;
    
}
.articles{
text-align: center;
display: flex;
flex-direction: column;
margin-left: 110px;

}
.upside{
    margin-bottom: 80px;
    margin-top: 40px;
text-align: justify;
color:black;

}
.yellow h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 100px;
width: 310px;
color: #f0cb34;
text-align: center;

}
h4{
    margin-top: 15px;
    color: white;
    width: 520px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.whitespace{
    height: 300px;
    margin-top: 80px;
    margin-left: 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
section{
    text-align: justify;
}

.guide li {
    text-decoration: none;
    color: blue;
    text-align: center;
}
h2{
margin-left: 40px;    
}
.align{
    margin-right: 20px;
    text-align: center;
}
.boxblue{
    background-color: #467ead ;
    height: 4px;
    width:331.9px ;
    margin-bottom: 10px;
}
footer{
    background-color: #275984;
    height: 120px;
}
.footer{
    display: flex;
    justify-content: center;
    color: white;
    justify-content: space-between;
}
h6{
    margin: 45px auto ;
font-size: 14px;
font-family: Georgia, 'Times New Roman', Times, serif;

}
h5{
    text-align: center;
    margin-top: 0px;
    font-size: 10px;
}
.bluet{
    color: #467ead;
    text-decoration: none;
}
.black{
    color: black;
    text-align: center;
    width: 350px;
}
