<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Checkerboard.css') }}">
    <style> /* Using inline style for the styling that's going to be changed using flask*/
        .color1 {
            background-color: {{color1}};
        }
        .color2 {
            background-color: {{color2}};
        }
    </style>
</head>
<body>
    <div class="Checkerboard">  <!-- the conteiner of the whole checkerboard-->
        {% for x in range(num2): %} <!-- loop for the number of columns-->
        <div>
            {% for y in range(num1): %} <!--loop for the number of rows-->
            <div class="color{{(x+y)%2+1}}"></div>   
                <!-- in order to make the code work for odd arguments and not only for
                even numbers and still be alternating color we have to
                make the class that is being displayed on the screen variable -->
            {%endfor%}
        </div>
        {%endfor%}
        <div>
        </div>
</body>
</html>