<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
</head>
<body>
    <h1>Edit Show {{this_show.id}}</h1>
    <p><a href="http://127.0.0.1:8000/shows">Go back</a></p>

        <form action='/update/{{show.id}}' method='post'>
            {% csrf_token %}
            <p>Title: </p>
            <input type='text' name='Title'>
            <div>
            <div>
            <p>Network: </p>
            <input type='text' name='Network'>
        </div>
        <div>
            <p>Release_Date: </p>
            <input type='date' name='Release_Date'>
        </div>
        </div>
            <p>Descreption: </p>
            <textarea name="desc"  cols="54" rows="5"></textarea> 
            <p><input type="submit" value='Update'  class="btn"></p>
        </form>
        <p><a href="/show/{{show.id}}">Go to Show</a></p>
</body>
</html>
