<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Network</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>

        </tr>
        {% for show in shows %}
        <tr>
            <td>{{show.id}}</td>
            <td> {{show.Title}}</td>
            <td>{{show.Network}}</td>

            <td>{{show.Release_Date}}</td>
            <td style="display: flex; justify-content: space-evenly;">

                <a href="/show/{{show.id}}">Show</a>
                <a href="/show/{{show.id}}/edit">Edit</a>
                <a href="show/{{show.id}}/delete">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/shows/new">Add a new show</a>
</body>
</html>
